<div class="row bg-white p-2">
    <div class="col-3 p-1 pl-4">
        <a class="pointer" (click)="goBack()"> back </a>
                <span class="mx-2">{{totalItem}} Total</span>
                <span class="mx-2">Showing {{start}} - {{end}} of {{totalItem}}</span>
                <span (click)="paginate('prev')"> < </span>
                <span (click)="paginate('next')"> > </span>
    </div>
    <div class="col-auto ml-auto">
        <div class="search-box">
            <input type="text" class="form-control" placeholder="">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </div>
    </div>
</div>