<main>
    <div class="container-fluid">
        <div class="row">
            <!-- Left section showing image -->
            <div class="col-md-4 p-5 section-left">
                <h2 class="text-left">Welcome to Star Wars
                    <br> the Clone Wars
                </h2>
                <img src="" srcset="/assets/undraw_To_the_stars_qhyy/undraw_To_the_stars_qhyy.png 1x, 
                    src/assets/undraw_To_the_stars_qhyy/undraw_To_the_stars_qhyy@2x.png 2x" class="img-responsive">
            </div>
            <!-- Right Section For login and signup form -->
            <div class="col-md-8 section-right">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</main>