section {
  div.ml-auto {
    width: 20%;
  }
}
.form-container {
  margin-left: 10%;
  h2 {
    font: normal normal 600 24px/35px Poppins;
  }
}
form {
  * {
    font-family: "Source Sans Pro";
  }
  .btn-dark {
    background-color: #1f1f21;
  }
}
