<section class="p-2">
    <div class="ml-auto">
        <img srcset="/assets/undraw_Astronaut_xko2/undraw_Astronaut_xko2.png 1x, /assets/undraw_Astronaut_xko2/undraw_Astronaut_xko2.png 2x"
            class="img-responsive w-100">
    </div>
    <div class="form-container">
        <div class="container">
            <div class="row">
                <h2>Sign in to continue to <br> your account.</h2>
            </div>
            
            <!-- Login Form -->
            <div class="row">
                <form class="col-12 col-md-4 px-0">
                    <div class="form-group">
                        <label for="">Email address</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email address"
                            aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Please put valid email</small>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter strong password"
                            aria-describedby="helpId">
                        <small id="helpId" class="text-muted">Please put password</small>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</section>