<div class="row bg-white">
    <div class="col-auto p-3 ml-auto">
        <app-dropdown (select)="updateChanges('year', $event)" [title]="selectedYear" [list]="years" class="mx-3">
        </app-dropdown>
        <app-dropdown (select)="updateChanges('week', $event)" [title]="selectedWeek" [list]="weeks" class="mx-3">
        </app-dropdown>
    </div>
</div>
<section class="cards">
    <app-card *ngFor="let card of cardList" [cardDetail]="card" (selected)="handleCardClick($event)"></app-card>
</section>
<section class="films bg-white">
    <h5 class="p-3 pl-5">Films</h5>
    <div class="p-3 pl-5">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Film Title</th>
                    <th>Director</th>
                    <th>Producer</th>
                    <th>Release Date</th>
                    <th>Episode ID</th>
                    <th>Characters</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allFilms">
                    <td scope="row"> <img src="/assets/images/video-camera.svg"> item.title</td>
                    <td>{{item.director}}</td>
                    <td>{{item.producer}}</td>
                    <td>{{item.release_date}}</td>
                    <td>{{item.episode_id}}</td>
                    <td>{{item.characters[0]}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>