main {
  height: 100vh;
  > div {
    height: inherit;
  }
  .active-img {
    color: #fddb00;
  }
  .left-side {
    background-color: #ffffff;
    border: solid 0.4px #dbe3ee;
    .sidenav {
      margin-top: 3em;
      padding: 0;

      .nav-item {
        list-style-type: none;
        padding: 1em;
        color: #a3abb7;
        &:hover {
          text-decoration: none;
          background-color: #f6f6f6;
        }
        &.active {
          border-right: solid #fddb00;
          font: normal normal medium 16px/24px Rubik;
          color: #000000;
        }
      }
    }
  }
  .right-side {
    background-color: #f6f6f6;
    > div {
      border: solid 0.4px #dbe3ee;
      border-left: none;
      img {
        width: 2.5em;
      }
    }
  }
}
