<main class="container-fluid">
    <div class="row">
        <!-- Left Navigation -->
        <div class="col-12 col-md-2 px-0 left-side">
            <img class="img-responsive p-3" src=""
                srcset="/assets/Dashboard/Star_wars_logo.png 1x, /assets/Dashboard/Star_wars_logo@2x.png 2x">

            <ul class="sidenav">
                <a *ngFor="let item of navItems" routerLinkActive="active" [routerLink]="item.link"
                    class="nav-item d-block pr-0 pl-5">
                    <li><img [src]="item.url"> <span class="ml-4">{{item.name}}</span></li>
                </a>
            </ul>
        </div>
        <!-- Left Navigation End-->

        <!-- Right Section for Main Page content -->
        <div class="col-12 col-md-10 right-side">
            <div class="row bg-white">
                <div class="col-3 p-4">
                    <h5>
                        Dashboard
                    </h5>
                </div>
                <div class="col-auto p-3 ml-auto">
                    <fa-icon [icon]="['far', 'comment-alt']" [classes]="['mx-2']"></fa-icon>
                    <fa-icon [icon]="['far', 'bell']" [classes]="['mx-2']"></fa-icon>
                    <img class="img-responsive" srcset="/assets/images/logo.png 1x, /assets/images/logo@2x.png 2x">
                </div>
            </div>
            <div class="row route">
                <div class="col">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- Right Section for Main Page content End -->
    </div>
</main>